<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saujan Blogs</title>
    <link href="{{site.baseurl}}/css/common.css", rel="stylesheet">
</head>
<body>

<header>
    <h1>Saujan Blog</h1>
    {% include nav.html navclass='nav-top'%}
</header>   

{{content}}

<footer>
    {% include nav.html navclass='nav-bottom' %}
    <p>&#169; SaujanBlogs</p>
</footer>

</body>
</html> 
